// See pug/index.pug.
doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' type='text/css' href='src/css/app.css')

    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='//cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js')
    script(src='dist/bundle.js')

  body
    div#vueApp
      div#controls
        div#tempoBox
          div#tempoEditButtons
            button(v-on:click='metronomeTempoHalve()') รท2
            button(v-on:click='metronomeTempoDecrementBy10()') -10
            button(v-on:click='metronomeTempoDecrementBy5()') -5
            button(v-on:click='metronomeTempoDecrement()') -1
            button(v-on:click='metronomeTempoIncrement()') +1
            button(v-on:click='metronomeTempoIncrementBy5()') +5
            button(v-on:click='metronomeTempoIncrementBy10()') +10
            button(v-on:click='metronomeTempoDouble()') ร2
          input(
              name='tempo' id='tempo'
              type='number' min='0' step='1' pattern='[0-9]*' inputmode='numeric'
              title='beats per minute' placeholder='beats per minute'
              v-model="metronome.tempo" v-on:change="metronomeStop()")
        div Resolution:
          select(v-model="metronome.noteResolution")
            option(v-bind:value="0" selected) quarter
            option(v-bind:value="1") 8th
            option(v-bind:value="2") 16th
        div
          a(v-on:click='metronomeToggle()') {{ metronome.toggleLabel }}
        //- TODO(sonph): Beat counter and section name are updated on the last
        //- 16th note of the last measure. It should be on the 1st 16th note of
        //- the current measure.
        div
          | Beat counter:
          span {{ metronome.currentBeat }}
        div
          div
            span {{ songChart.name }}
            | -
            span {{ songChart.artist }}
          | Current section:
          span {{ songChart.curSectionName }}
          div 
            span {{ songChart.curMeasure }}
            | .
            span {{ songChart.curBeat }}
            | /
            span {{ songChart.curSectionLength }}
        div.container
          canvas#visualization
