// See pug/index.pug.
doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    //- Bootstrap 4.4.1
    link(rel='stylesheet' type='text/css' href='src/bootstrap/bootstrap.min.css')
    script(src='src/bootstrap/jquery-3.5.0.min.js')
    script(src='src/bootstrap/bootstrap.min.js')

    //- Font awesome
    link(rel='stylesheet' type='text/css' href='src/fontawesome/css/regular.min.css')
    link(rel='stylesheet' type='text/css' href='src/fontawesome/css/fontawesome.min.css')

    link(rel='stylesheet' type='text/css' href='src/css/app.css')

    script(src='src/js/vue.js')
    script(src='src/js/AudioContextMonkeyPatch.js')
    script(src='dist/bundle.js')

  body
    <div id="vueApp" v-cloak>
      div#controls.container-fluid.fixed
        div.row
          div.col.text-center.font-weight-light.d-flex.align-items-center.justify-content-center(v-on:click="appShowSettings()")
            span Settings
          div.col
            h2.text-center(v-on:click='metronomeToggle()')
              i.far.fa-lg(v-bind:class='{"fa-stop-circle": metronome.isPlaying, "fa-play-circle": !metronome.isPlaying}')
          div.col

      //- TODO(sonph): the shadow classes are removed as soon as
      //- settingsVisible=false and while the settings screen is still animating.
      div#settings.container-fluid.fixed(
          v-bind:class='{ "show shadow p-3 mb-5 rounded": app.settingsVisible }')
        include settings.pug

      div#body.container-fluid
        include body.pug

    </div>
