hr.invisible
div.row
  div.col
  div.col.text-center
    h2.font-weight-light Settings
  div.col.text-center.d-flex.align-items-center.justify-content-center
    h2
      button(type='button' class='close' aria-label='Close'
          v-on:click="appHideSettings()")
        span(aria-hidden='true') &times;
  hr
