
canvas#visualization {
  height: 400px;
  border: 1px solid #c0c0c0;
}

.section.selected .section.name {
  font-weight: bold;
}

.subsection {
  padding-left: 2em;
}

.hide {
  display: none;
}

a:hover {
  text-decoration: underline;
}